# ny_flights Dataset Tasks:

- Formulate questions based on the ny_flights dataset.
- Answer the other questions using appropriate techniques.

In [3]:
import pandas as pd
import numpy as np

In [7]:
df= pd.read_csv("ny-flights.csv")
df

,fl_date,unique_carrier,airline_id,tail_num,fl_num,origin,dest,dep_time,dep_delay,arr_time,arr_delay,cancelled,arr,dep
0,2014-01-01 00:00:00,AA,19805,N338AA,1,JFK,LAX,914.0,14.0,1238.0,13.0,0.0,2014-01-01 12:38:00,2014-01-01 09:14:00
1,2014-01-01 00:00:00,AA,19805,N335AA,3,JFK,LAX,1157.0,-3.0,1523.0,13.0,0.0,2014-01-01 15:23:00,2014-01-01 11:57:00
2,2014-01-01 00:00:00,AA,19805,N327AA,21,JFK,LAX,1902.0,2.0,2224.0,9.0,0.0,2014-01-01 22:24:00,2014-01-01 19:02:00
3,2014-01-01 00:00:00,AA,19805,N3EHAA,29,LGA,PBI,722.0,-8.0,1014.0,-26.0,0.0,2014-01-01 10:14:00,2014-01-01 07:22:00
4,2014-01-01 00:00:00,AA,19805,N319AA,117,JFK,LAX,1347.0,2.0,1706.0,1.0,0.0,2014-01-01 17:06:00,2014-01-01 13:47:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20812,2014-01-31 00:00:00,UA,19977,N54711,1253,ROC,ORD,801.0,-4.0,908.0,4.0,0.0,2014-01-31 09:08:00,2014-01-31 08:01:00
20813,2014-01-31 00:00:00,UA,19977,N77525,1429,LGA,CLE,1522.0,-10.0,1649.0,-31.0,0.0,2014-01-31 16:49:00,2014-01-31 15:22:00
20814,2014-01-31 00:00:00,UA,19977,N37293,1456,LGA,IAH,719.0,-6.0,1006.0,-20.0,0.0,2014-01-31 10:06:00,2014-01-31 07:19:00
20815,2014-01-31 00:00:00,UA,19977,N24729,1457,LGA,IAH,852.0,7.0,1156.0,-6.0,0.0,2014-01-31 11:56:00,2014-01-31 08:52:00
20816,2014-01-31 00:00:00,MQ,20398,N609MQ,3699,BUF,ORD,1208.0,-12.0,1251.0,-19.0,0.0,2014-01-31 12:51:00,2014-01-31 12:08:00

### Q1) How much data is available ?

In [114]:
print(f" There are a total of {df.shape[0]} rows and {df.shape[1]} columns of data about the flight details of year 2014")

 There are a total of 20817 rows and 14 columns of data about the flight details of year 2014

### Q2) How many airlines got cancelled in the year 2014 in total?

In [20]:
print('Total number of cancelled flights in the year 2014 is ',df['cancelled'][df['cancelled']>0].count())

Total number of cancelled flights in the year 2014 is  2395

### Q3) Which flight had the most delayed arrival time in the year 2014?

In [89]:
sorted_df=df.sort_values(by='arr_delay',ascending =False)
delayed_flight = sorted_df.iloc[0]
print(f" The most late arrived flight in yr 2014 is flight \n#{delayed_flight['fl_num']} that travelled from {delayed_flight['origin']} to {delayed_flight['dest']} on {delayed_flight['dep']}")

 The most late arrived flight in yr 2014 is flight
#2139 that travelled from LGA to MIA on 2014-01-02 11:08:00

### Q4) Total number of flight data with missing values

In [215]:
# separating numerical and non numerial columns

num_df= df[df.columns[df.dtypes!='object']]
obj_df= df[df.columns[df.dtypes=='object']]

In [217]:
print('Total number of missing data in numerical  data is\n',num_df.isnull().sum())

Total number of missing data in numerical  data is
 airline_id       0
fl_num           0
dep_time      2355
dep_delay     2355
arr_time      2405
arr_delay     2434
cancelled        0
dtype: int64

In [219]:
print('Total number of missing data in non numerical  data is\n',obj_df.isnull().sum())

Total number of missing data in non numerical  data is
 fl_date              0
unique_carrier       0
tail_num           305
origin               0
dest                 0
arr               2405
dep               2355
dtype: int64

### Q5) Replace numerical missing data with 0 and non numerical with "data not available"

In [222]:
num_df=num_df.fillna(0)
print('Total number of missing data in numerical  data is\n',num_df.isnull().sum())

Total number of missing data in numerical  data is
 airline_id    0
fl_num        0
dep_time      0
dep_delay     0
arr_time      0
arr_delay     0
cancelled     0
dtype: int64

In [224]:
obj_df=obj_df.fillna('Data Not Available')
print('Total number of missing data in non numerical  data is\n',obj_df.isnull().sum())

Total number of missing data in non numerical  data is
 fl_date           0
unique_carrier    0
tail_num          0
origin            0
dest              0
arr               0
dep               0
dtype: int64

In [404]:
df2=pd.concat([obj_df,num_df],axis=1)
df2

,fl_date,unique_carrier,tail_num,origin,dest,arr,dep,airline_id,fl_num,dep_time,dep_delay,arr_time,arr_delay,cancelled
0,2014-01-01 00:00:00,AA,N338AA,JFK,LAX,2014-01-01 12:38:00,2014-01-01 09:14:00,19805,1,914.0,14.0,1238.0,13.0,0.0
1,2014-01-01 00:00:00,AA,N335AA,JFK,LAX,2014-01-01 15:23:00,2014-01-01 11:57:00,19805,3,1157.0,-3.0,1523.0,13.0,0.0
2,2014-01-01 00:00:00,AA,N327AA,JFK,LAX,2014-01-01 22:24:00,2014-01-01 19:02:00,19805,21,1902.0,2.0,2224.0,9.0,0.0
3,2014-01-01 00:00:00,AA,N3EHAA,LGA,PBI,2014-01-01 10:14:00,2014-01-01 07:22:00,19805,29,722.0,-8.0,1014.0,-26.0,0.0
4,2014-01-01 00:00:00,AA,N319AA,JFK,LAX,2014-01-01 17:06:00,2014-01-01 13:47:00,19805,117,1347.0,2.0,1706.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20812,2014-01-31 00:00:00,UA,N54711,ROC,ORD,2014-01-31 09:08:00,2014-01-31 08:01:00,19977,1253,801.0,-4.0,908.0,4.0,0.0
20813,2014-01-31 00:00:00,UA,N77525,LGA,CLE,2014-01-31 16:49:00,2014-01-31 15:22:00,19977,1429,1522.0,-10.0,1649.0,-31.0,0.0
20814,2014-01-31 00:00:00,UA,N37293,LGA,IAH,2014-01-31 10:06:00,2014-01-31 07:19:00,19977,1456,719.0,-6.0,1006.0,-20.0,0.0
20815,2014-01-31 00:00:00,UA,N24729,LGA,IAH,2014-01-31 11:56:00,2014-01-31 08:52:00,19977,1457,852.0,7.0,1156.0,-6.0,0.0
20816,2014-01-31 00:00:00,MQ,N609MQ,BUF,ORD,2014-01-31 12:51:00,2014-01-31 12:08:00,20398,3699,1208.0,-12.0,1251.0,-19.0,0.0

### Q6) Which travel plan has experienced the most number or delays in the year 2014?

In [407]:
org_dest_df= df2.groupby(['origin','dest']).max()
org_dest_df=org_dest_df.sort_values(by='arr_delay', ascending=False)
print(f"The Flight from {org_dest_df.index[0][0]} to {org_dest_df.index[0][1]} has experienced the maximum Arrival delay in year 2014")
#print(org_dest_df[['arr_delay','dep_delay']])
org_dest_df=org_dest_df.sort_values(by='dep_delay',ascending=False)
print(f"The Flight from {org_dest_df.index[0][0]} to {org_dest_df.index[0][1]} has experienced the maximum Departure delay in year 2014")
#print(org_dest_df[['arr_delay','dep_delay']])

The Flight from LGA to MIA has experienced the maximum Arrival delay in year 2014
The Flight from LGA to MIA has experienced the maximum Departure delay in year 2014

###  Q7) Calculate the longest flight of year 2014

In [410]:
df2

,fl_date,unique_carrier,tail_num,origin,dest,arr,dep,airline_id,fl_num,dep_time,dep_delay,arr_time,arr_delay,cancelled
0,2014-01-01 00:00:00,AA,N338AA,JFK,LAX,2014-01-01 12:38:00,2014-01-01 09:14:00,19805,1,914.0,14.0,1238.0,13.0,0.0
1,2014-01-01 00:00:00,AA,N335AA,JFK,LAX,2014-01-01 15:23:00,2014-01-01 11:57:00,19805,3,1157.0,-3.0,1523.0,13.0,0.0
2,2014-01-01 00:00:00,AA,N327AA,JFK,LAX,2014-01-01 22:24:00,2014-01-01 19:02:00,19805,21,1902.0,2.0,2224.0,9.0,0.0
3,2014-01-01 00:00:00,AA,N3EHAA,LGA,PBI,2014-01-01 10:14:00,2014-01-01 07:22:00,19805,29,722.0,-8.0,1014.0,-26.0,0.0
4,2014-01-01 00:00:00,AA,N319AA,JFK,LAX,2014-01-01 17:06:00,2014-01-01 13:47:00,19805,117,1347.0,2.0,1706.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20812,2014-01-31 00:00:00,UA,N54711,ROC,ORD,2014-01-31 09:08:00,2014-01-31 08:01:00,19977,1253,801.0,-4.0,908.0,4.0,0.0
20813,2014-01-31 00:00:00,UA,N77525,LGA,CLE,2014-01-31 16:49:00,2014-01-31 15:22:00,19977,1429,1522.0,-10.0,1649.0,-31.0,0.0
20814,2014-01-31 00:00:00,UA,N37293,LGA,IAH,2014-01-31 10:06:00,2014-01-31 07:19:00,19977,1456,719.0,-6.0,1006.0,-20.0,0.0
20815,2014-01-31 00:00:00,UA,N24729,LGA,IAH,2014-01-31 11:56:00,2014-01-31 08:52:00,19977,1457,852.0,7.0,1156.0,-6.0,0.0
20816,2014-01-31 00:00:00,MQ,N609MQ,BUF,ORD,2014-01-31 12:51:00,2014-01-31 12:08:00,20398,3699,1208.0,-12.0,1251.0,-19.0,0.0

In [420]:
# calculating flight duration
def flight_duration(row):
    if (row['arr']=='Data Not Available' or row['dep']=='Data Not Available'):
        return -1000
    else:
        return max(row['arr_time'],row['dep_time'])-min(row['arr_time'],row['dep_time'])

df2['Flight Duration']= df2.apply(flight_duration,axis=1)
df2

,fl_date,unique_carrier,tail_num,origin,dest,arr,dep,airline_id,fl_num,dep_time,dep_delay,arr_time,arr_delay,cancelled,Flight Diuration,Flight Duration
6723,2014-01-10 00:00:00,B6,N558JB,JFK,BOS,2014-01-10 00:50:00,2014-01-10 23:59:00,20409,718,2359.0,59.0,50.0,48.0,0.0,-2309.0,2309.0
7847,2014-01-12 00:00:00,B6,N273JB,JFK,BOS,2014-01-12 00:09:00,2014-01-12 23:14:00,20409,718,2314.0,14.0,9.0,7.0,0.0,-2305.0,2305.0
7221,2014-01-11 00:00:00,DL,N971DL,JFK,BOS,2014-01-11 00:41:00,2014-01-11 23:44:00,19790,2155,2344.0,179.0,41.0,163.0,0.0,-2303.0,2303.0
6642,2014-01-10 00:00:00,B6,N198JB,JFK,BTV,2014-01-10 00:23:00,2014-01-10 23:23:00,20409,234,2323.0,38.0,23.0,27.0,0.0,-2300.0,2300.0
7857,2014-01-12 00:00:00,B6,N292JB,JFK,BTV,2014-01-12 00:02:00,2014-01-12 23:00:00,20409,234,2300.0,15.0,2.0,6.0,0.0,-2298.0,2298.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
687,2014-01-02 00:00:00,WN,N733SA,ROC,MDW,2014-01-02 14:28:00,2014-01-02 07:21:00,19393,310,721.0,1.0,1428.0,0.0,0.0,707.0,707.0
16272,2014-01-25 00:00:00,B6,N374JB,BUF,RSW,2014-01-25 14:44:00,2014-01-25 07:00:00,20409,45,700.0,0.0,1444.0,0.0,0.0,744.0,744.0
7267,2014-01-11 00:00:00,HA,N392HA,JFK,HNL,2014-01-11 16:40:00,2014-01-11 08:56:00,19690,51,856.0,-4.0,1640.0,90.0,0.0,784.0,784.0
645,2014-01-02 00:00:00,WN,N416WN,BUF,MDW,2014-01-02 15:06:00,2014-01-02 07:10:00,19393,423,710.0,0.0,1506.0,0.0,0.0,796.0,796.0
11633,2014-01-18 00:00:00,WN,N773SA,LGA,MDW,2014-01-18 20:49:00,2014-01-18 11:38:00,19393,3183,1138.0,-2.0,2049.0,0.0,0.0,911.0,911.0

In [426]:
df2=df2.sort_values(by='Flight Duration',ascending=False)
df2

,fl_date,unique_carrier,tail_num,origin,dest,arr,dep,airline_id,fl_num,dep_time,dep_delay,arr_time,arr_delay,cancelled,Flight Diuration,Flight Duration
6723,2014-01-10 00:00:00,B6,N558JB,JFK,BOS,2014-01-10 00:50:00,2014-01-10 23:59:00,20409,718,2359.0,59.0,50.0,48.0,0.0,-2309.0,2309.0
7847,2014-01-12 00:00:00,B6,N273JB,JFK,BOS,2014-01-12 00:09:00,2014-01-12 23:14:00,20409,718,2314.0,14.0,9.0,7.0,0.0,-2305.0,2305.0
7221,2014-01-11 00:00:00,DL,N971DL,JFK,BOS,2014-01-11 00:41:00,2014-01-11 23:44:00,19790,2155,2344.0,179.0,41.0,163.0,0.0,-2303.0,2303.0
6642,2014-01-10 00:00:00,B6,N198JB,JFK,BTV,2014-01-10 00:23:00,2014-01-10 23:23:00,20409,234,2323.0,38.0,23.0,27.0,0.0,-2300.0,2300.0
7857,2014-01-12 00:00:00,B6,N292JB,JFK,BTV,2014-01-12 00:02:00,2014-01-12 23:00:00,20409,234,2300.0,15.0,2.0,6.0,0.0,-2298.0,2298.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13806,2014-01-21 00:00:00,MQ,N695MQ,JFK,CLE,Data Not Available,Data Not Available,20398,2815,0.0,0.0,0.0,0.0,1.0,-1000.0,-1000.0
13807,2014-01-21 00:00:00,MQ,N522MQ,LGA,STL,Data Not Available,Data Not Available,20398,2839,0.0,0.0,0.0,0.0,1.0,-1000.0,-1000.0
13808,2014-01-21 00:00:00,MQ,N505MQ,LGA,STL,Data Not Available,Data Not Available,20398,2840,0.0,0.0,0.0,0.0,1.0,-1000.0,-1000.0
13809,2014-01-21 00:00:00,MQ,N649MQ,JFK,BNA,Data Not Available,Data Not Available,20398,2949,0.0,0.0,0.0,0.0,1.0,-1000.0,-1000.0
1967,2014-01-03 00:00:00,US,Data Not Available,LGA,DCA,Data Not Available,Data Not Available,20355,2173,0.0,0.0,0.0,0.0,1.0,-1000.0,-1000.0

In [436]:
print(f"The flight that took the maximum duration in yr 2014 was \n Flight num    :{df2.iloc[0]['fl_num']}\n from    {df2.iloc[0]['origin']} to {df2.iloc[0]['dest']}\n Duration    :{df2.iloc[0]['Flight Duration']} minutes\n Arrival Date :{df2.iloc[0]['arr']}")

The flight that took the maximum duration in yr 2014 was
 Flight num    :718
 from    JFK to BOS
 Duration    :2309.0 minutes
 Arrival Date :2014-01-10 00:50:00